#sortable
{
	list-style-type: none; 
	margin: 30px;
	float: left;
	margin-right: 10px;
	background: #eee;
	padding: 5px;
	width: 143px;
}

#sortable li
{
	margin: 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 120px;
}
